# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/jobs-steps/#jobs-overview & https://circleci.com/docs/configuration-reference/#jobs
jobs:
  compile-job:
    # Specify the execution environment. You can specify an image from Docker Hub or use one of our convenience images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/executor-intro/ & https://circleci.com/docs/configuration-reference/#executor-job
    docker:
      # Specify the version you desire here
      # See: https://circleci.com/developer/images/image/cimg/base
      - image: quay.io/uuss/us8base
    resource_class: small

    # Add steps to the job
    # See: https://circleci.com/docs/jobs-steps/#steps-overview & https://circleci.com/docs/configuration-reference/#steps
    steps:
      - checkout
      - run:
          name: "Configure code"
          command: |
            cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr/local/
      - run:
          name: "Build the code"
          command: |
            cmake --build build
            cd build
            # resource class small has 1 vcpu and medium has 2
            make -j 1
      - run:
          name: "Install the code"
          command: |
            cmake --install build
      - run:
           name: "Test the code"
           command: |
            cd build
            ctest --verbose
      - run:
           name: "Package code"
           command: |
             cd build
             mkdir -p /tmp/artifacts
             mkdir -p /tmp/workspace
             cpack -B /tmp/artifacts TGZ
             rm -rf /tmp/artifacts/_CPack_Packages
             # Later, we're going to build a container so we duplicate some effort
             mv *-Linux.tar.gz /tmp/workspace/
             mv Dockerfile.deb /tmp/workspace/
             ls /tmp/workspace/
      - store_artifacts:
          path: /tmp/artifacts

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/workflows/ & https://circleci.com/docs/configuration-reference/#workflows
workflows:
  compile-workflow: 
    jobs:
      - compile-job
